* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

header li, a, button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: white; 
    text-decoration: none;
}

/* logo text styles starts here */
.logo-link {
    cursor: pointer;
    margin-right: auto;
    font-size: 110%;
}

.white-background {
    background-color: white;
    color: black;
}

/* navigation styles starts here */
.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover {
    text-decoration: overline;
    color: white;
}